.site-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222227;
    color: #E4E4E4;
}

.ft-title {
    font-size: 1.8rem;
}

.ft-links {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ft-links li {
    margin: 0 1rem 0 1rem;
    list-style: none;
}

.ft-links li a {
    text-decoration: none;
    display: block;
    color: #E4E4E4;
    padding: 1rem;
}

.ft-links li a:hover {
    color: #D52A2A;
}

.copyright {
    font-size: 1.1rem;
    color: #f2bd85;
}

.ft-flag {
    margin: 0.2rem;
    width: 25px;
    height: auto;
}