* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Consolas, monaco, monospace;
    background-image: url("../img/heero_background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-v2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
}

.login-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-text {
    font-size: 2.375em;
    font-weight: bold;
}

.login-container {
    background: rgba(255, 255, 255, 0.84) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    width: 33.5rem;
    height: 34rem;
    padding-top: 1.5rem;
    margin: 0 0 2rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

form {
    width: 100%;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    font-family: Consolas, monaco, monospace;
    width: 75%;
    height: 3.5rem;
    border: 1px solid #707070;
    margin: 1.2rem;
}

input,
input::-webkit-input-placeholder {
    font-size: 1.1rem;
    padding-left: 10px;
}

input::placeholder {
    font-family: Consolas, monaco, monospace;
}

button {
    font-family: Consolas, monaco, monospace;
    background: #D52A2A 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    color: #E4E4E4;
    margin: 1.5rem;
}

button.login {
    width: 75%;
    font-size: 1.5rem;
    line-height: 2.75rem;
}

button.rd-more {
    width: 14rem;
    line-height: 3rem;
    font-size: 1.75rem;
}

p {
    text-align: center;
    margin: 1rem;
}

a {
    text-decoration: none;
    color: #D52A2A;
}

.read-more {
    background: rgba(255, 255, 255, 0.84) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    width: 70%;
    height: 20rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-box {
    background: rgba(255, 255, 255, 0.84) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    width: 70%;
    height: 54rem;
    margin: 5rem 0 2rem 0;
}

.checkbox-container {
    width: 70%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.checkbox {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

label {
    font-size: 1rem;
}

button.signup {
    margin: 0.2rem;
    font-size: 1.5rem;
    width: 23rem;
    line-height: 2.75rem;
}

.heading-container {
    background: rgba(255, 255, 255, 0.84) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    margin: 1rem 1.5rem 0.75rem 1.5rem
}

.content-container {
    background: rgba(255, 255, 255, 0.84) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    margin: 1rem 1.5rem 0.75rem 1.5rem
}

.no-valid {
    border: 3px solid red;
    box-shadow: 0 0 0.2em red;
}

@media only screen and (max-width: 700px) {
    .container {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .login-box,
    .info-box {
        width: 100%;
    }

    .login-box {
        margin-top: 25px;
    }

    .info-box {
        height: 400px;
        margin-bottom: 20px;
    }

    .login-container,
    .read-more {
        width: 90%;
        margin: 0;
    }

    .login-container {
        margin-bottom: 20px;
    }

    .read-more {
        height: 250px;
        margin-top: 20px;
    }

    .register-box {
        width: 90%;
        margin-top: 20px;
    }

    button.signup {
        width: 75%;
    }
}