.transport-box {
    background-color: #444244;
    border-color: #222227;
    border-width: 4px;
}

.find-transport p {
    font-size: 1.8rem;
    color: #E4E4E4;
}

.find-transport label {
    color: #E4E4E4;
}