{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    {% include('components/navbar.html') %}

    <div class="heading-container">
        <p class="heading-text">About Us</p>
    </div>

    <div class="content-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pulvinar maximus porttitor. Mauris et accumsan quam, id tempor elit. In tempus libero nec ultrices mollis. Vestibulum in nibh quis enim pulvinar molestie. Vivamus scelerisque neque nunc, ultricies malesuada erat cursus id. Nulla facilisi. Donec luctus ante dolor, in hendrerit turpis pharetra ac. Integer imperdiet congue nulla sed viverra. Aliquam errat volutpat. Aenean lobortis, lectus eget tempor ultrices, ex nibh euismod ante, id facilisis ligula mauris quis libero. Vestibulum suscipit, ex at mattis tempor, dui tellus laoreet odio, nec vestibulum magna ex in ante. Duis orci tortor, sodales in erat posuere, suscipit rhoncus velit. Sed vitae interdum ante, sit amet mollis enim. Suspendisse quis nibh gravida, aliquet augue vel, hendrerit justo. Nam libero dolor, commodo ac purus in, bibendum suscipit est.</p>
        <p>Aliquam maximus orci est, accumsan rhoncus urna vulputate id. Donec sed nibh ac nisl hendrerit lacinia. Donec ultrices lectus at lacus maximus hendrerit. Morbi consequat dignissim vehicula. Donec varius errat sed enim pretium molestie. Aliquam tellus ex, mattis eu auctor ut, sagittis vitae dui. Nullam lectus mi, scelerisque ullamcorper laoreet at, finibus eu dui.</p>
    </div>

    {% include('components/footer.html') %}
{% endblock %}