{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/generic_style.css">
    <link rel="stylesheet" href="/css/home_style.css">
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
    {{ include('components/navbar.html') }}
    <div class="container">
        <div class="transport-box">
            <form class="find-transport">
                <p>Find transport</p>
                <label>
                    Pickup place
                    <input class="input-place" name="pick-place" type="text" placeholder="city, airport, etc">
                </label>
                <label>
                    Drop place
                    <input class="input-place" name="drop-place" type="text" placeholder="city, airport, etc">
                </label>
                <label>
                    Pickup date
                    <input class="input-date" name="pick-date" type="date">
                </label>
                <label>
                    Time
                    <input class="input-time" name="pick-time" type="time">
                </label>
                <label>
                    Drop date
                    <input class="input-date" name="drop-date" type="date">
                </label>
                <label>
                    Time
                    <input class="input-time" name="drop-time" type="time">
                </label>
            </form>
        </div>
    </div>
    {{ include('components/footer.html') }}
{% endblock %}