<link rel="stylesheet" type="text/css" href="/css/navbar_style.css">


<header>
    <nav class="navbar">
        <img src="/img/logo.svg" alt="logo" class="logo">
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/carlisting">CAR LISTING</a></li>
                <li><a href="/contact">CONTACT US</a></li>
                <li><a href="/login">LOGIN</a></li>
            </ul>
        </div>
    </nav>
</header>
